@mixin flexCenter($direction, $justify) {
    display: flex;
    justify-content: justify;
    align-items: none;
    flex-wrap: wrap;
    flex-direction: $direction;
}

$font: sans-serif;
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font;
}