
$text-color: #fafafa;
$selected: #333;
$font: sans-serif;
$panel: #666;
$unselected: #999;
$body: #c9c9c9;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font;
}

.unselected{
    background-color: $text-color;
    color: $selected;
}

.tab-panels{
    min-height: 200px;
    ul{
        margin: 0;
        padding: 0;
        li{
            list-style-type: none;
            display: inline-block;
            background: $unselected;
            padding: 3px 10px;
            color: $text-color;
            font-weight: 200;
            border-radius: 10px 10px 0px 0px;
            &:hover,
            &.active{
                color: $text-color;
                background: $panel;
            }
        }
    }
    .panel{
        display: none;
        background-color: $body;
        padding: 30px;
        border-radius: 0px 0px 10px 10px;
        &.active{
            display: block;
        }
    }
}